.create-team {
  main {
    padding: 40px;
  }

  form {
    padding: 32px 158px;

    .inputs-container {
      display: flex;
      flex-flow: row wrap;
      row-gap: 28px;
      justify-content: space-between;
      margin-bottom: 60px;
    }

    label {
      font-weight: 500;
      margin-bottom: 8px;
    }

    input,
    textarea {
      padding: 12px 8px;
      border-radius: 2px;
      border: 1px solid #d8d8d8;
    }

    textarea {
      height: 204px;
    }

    h3 {
      margin: 0 auto;
      margin-bottom: 64px;
      width: max-content;
      color: #8b8b8b;
    }

    .dual-input {
      display: flex;
      flex-direction: column;
      row-gap: 26px;

      width: 45%;

      .tags-wrapper {
        width: 100%;
      }
    }

    .save-button {
      height: 46px;
      width: 45%;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      background: linear-gradient(to bottom, $lightPurple, $purple);
      border-radius: 4px;
      border: none;

      &:hover {
        border: 2px solid $red;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
      }
    }

    .players-list {
      overflow-y: auto;
    }

    .players-container {
      max-height: 47.8vw;
    }
  }
}
