.page-home {
  main {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 46px;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  .top-five {
    background: blue;
  }

  .highlighted-players {
    background: yellow;
  }
}

.tooltipText {
  visibility: hidden;
}
