.formation-field {
  height: 46vw;
  width: 100%;
  padding: 24px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: linear-gradient(to bottom right, $lightPurple, $purple);
  position: relative;

  .football-field {
    width: 100%;
    height: 100%;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    hr {
      border: none;
      border-bottom: 2px solid #b576a1;
      width: 100%;
    }

    .circle {
      border-radius: 50%;
      border: 2px solid #b576a1;
      width: 114px;
      height: 114px;
      position: absolute;
    }
  }
}
