header {
  width: 100%;

  background-image: linear-gradient(to right, $red, $purple);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 40px;

  span {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: $white;

    #title {
      margin-left: 18px;
      font-size: 1.2rem;
      font-weight: 500;

      @media (max-width: 600px) {
        display: none;
      }
    }
  }

  span:first-child {
    cursor: pointer;
  }

  .user-image {
    background: $background;
    padding: 8px;
    margin-left: 5px;
    border-radius: 50%;

    color: black;
    font-weight: 500;
    font-size: 1.2rem;
  }
}
