.my-teams {
  grid-area: 1 / 1 / 3 / 2;

  .teams-table {
    font-weight: 500;

    .sorter {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 20px;

      padding: 18px 25px;

      span {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
      }
    }
  }
}
