@import "./variables.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background;
  color: #29292e;
}

body,
input,
button,
textarea {
  font: 400 16px "Roboto", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

@import "./components/Header.module.scss";
@import "./components/Footer.module.scss";
@import "./components/Card.module.scss";
@import "./components/TeamsItem.module.scss";
@import "./components/MyTeams.module.scss";
@import "./components/TopFive.module.scss";
@import "./components/TopFiveList.module.scss";
@import "./components/HighlightedPlayers.module.scss";
@import "./components/HighlightedPlayerItem.module.scss";
@import "./components/PlayerItem.module.scss";
@import "./components/RadioInput.module.scss";
@import "./components/InputWrapper.module.scss";
@import "./components/TagsBoxmodule.scss";
@import "./components/Tag.module.scss";
@import "./components/FormationField.module.scss";
@import "./components/FieldRow.module.scss";
@import "./components/PlayerFormationCard.module.scss";

@import "./pages/index.module.scss";
@import "./pages/CreateTeam.module.scss";
