@import "./variables.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background;
  color: #29292e;
}

body,
input,
button,
textarea {
  font: 400 16px "Roboto", sans-serif;
}

@import "./components/Header.module.scss";
@import "./components/Footer.module.scss";
@import "./components/TeamsItem.module.scss";
@import "./components/MyTeams.module.scss";

@import "./pages/index.module.scss";
